In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
import pickle, joblib

In [2]:
df=pd.read_csv('cars24.csv')
df.sample(10)

,selling_price,year,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5
17460,3.7500,2016.0,57000,20.36,1197.0,78.90,7.0,HYUNDAI,I10 MAGNA,0,0,0,0,0,1,1,1,0
3355,3.5000,2018.0,10000,23.01,999.0,67.00,5.0,RENAULT,KWID 1.0 RXT OPTIONAL,1,0,0,0,0,1,1,1,0
18984,4.5000,2014.0,78000,20.14,1498.0,88.80,9.0,VOLKSWAGEN,POLO 1.5 TDI HIGHLINE,0,0,1,0,0,0,1,1,0
17239,3.3500,2009.0,40000,21.10,1197.0,85.80,14.0,MARUTI,RITZ LXI,1,0,0,0,0,1,1,1,0
16938,4.7500,2013.0,46100,19.10,1197.0,85.80,10.0,MARUTI,SWIFT DZIRE VXI,0,0,0,0,0,1,1,1,0
15376,20.9025,2016.0,45000,17.68,1968.0,174.33,7.0,AUDI,A6 35 TDI PREMIUM,0,0,1,0,0,0,0,1,0
2548,20.9025,2017.0,26000,12.00,1991.0,184.00,6.0,MERCEDES-BENZ,E-CLASS E 200 CGI,0,0,0,0,0,1,0,1,0
18712,1.1000,2007.0,80000,17.80,1086.0,63.00,16.0,HYUNDAI,SANTRO XING XK ERLX EUROIII,1,0,0,0,0,1,1,1,0
1527,3.5000,2012.0,55236,19.10,1197.0,85.80,11.0,MARUTI,SWIFT DZIRE VXI,0,0,0,0,0,1,1,1,0
4271,17.5000,2014.0,38000,15.73,1968.0,174.33,9.0,AUDI,Q3 35 TDI QUATTRO PREMIUM,0,0,1,0,0,0,0,1,0